body{
    margin-top: 200px;
    background-color: var(--color-P);
}

:root{
    --color-P: #404040;
    --color-S: white;
    --color-A: #9F2C73;
}

*{
    font-family: "Montserrat", sans-serif;
}

.title{
    font-family: "Josefin Sans", sans-serif;
}

.logo{
    width: 150px;
}

.navbar{
    background-color: var(--color-P);
}

.link_nav{
    transition: 0.4s;
}

.link_nav:hover{
    transform: scale(1.2);
    color: var(--color-A) !important;
}

.transition{
    transition: 0.7s;
}

/* NAVBAR  */
.nav-scrolled {
    background-color: var(--color-P) !important;
}

.img_hero{
    max-width: 90%;
    border: 2px solid var(--color-A);
    border-radius: 20px;
    padding: 4px;
    transform: rotate(15deg);
}

.sez_hero{
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.bottone_custom{
    color: white;
    border: 1px solid var(--color-A);
    transition: 0.4s;
}

.bottone_custom:hover{
    background-color: var(--color-A);
    color: var(--color-S);
    transform: scale(1.1);
}

.img-card{
    transition: .5s;
}

.card:hover > div > .img-card{
    transform: scale(1.3);
}

.sez_opere{
    margin-top: 100px;
}

.sfondo_card{
    background-color: rgba(92, 92, 92, 0.5);
}

.badge{
    background-color: var(--color-A) !important;
}

.img-category{
    border: 2px solid var(--color-A);
    border-radius: 20px;
    padding: 4px;
}

.bordo_nome{
    border-bottom: 2px solid var(--color-A);
    width: 60%;
    margin-left: 20%;
    padding-bottom: 5px;  
}

.sez_numeri{
    height: 60vh;
}

.box_numeri{
    border: 2px solid var(--color-A);
    border-radius: 20px;
    padding-top: 15px;
    height: 130px;
    width: 200px;
    background-color: rgba(92, 92, 92, 0.5);
}

.lista_footer{
    text-decoration: none;
}

.sez_footer {
    margin-top: 300px;
}














/* MEDIA QUERIES */
@media screen and (min-width: 675px) {
    .nav-scrolled {
        margin: 5vh 2vw;
        border: 2px solid var(--color-S);
        border-radius: 10px;
    }
    body{
        margin-top: 120px;
        background-color: var(--color-P);
    }
    .sez_footer {
        margin-top: 0px;
    }
    .sez_opere{
        margin-top: 20px;
    }
}